# These cause some compatibility issues on some systems and are not strictly necessary
# japanese g2p deps
#mecab-python3==1.0.6
#unidic-lite==1.0.8
#cutlet

############################
# Core deps (RELAXED)
############################
# don't touch numpy / pandas / torch / torchaudio in Colab
numpy
pandas

cython
scipy
torch
torchaudio
soundfile
librosa
scikit-learn
numba
inflect
tqdm
anyascii
pyyaml
fsspec
aiohttp
packaging
mutagen

############################
# Examples / inference / notebooks
############################
flask
pysbd
umap-learn
matplotlib

############################
# Coqui stack (training)
############################
trainer
coqpit

############################
# Text / phoneme / language
############################
gruut[de,es,fr]
bangla
bnnumerizer
bnunicodenormalizer

############################
# XTTS / transformer side
############################
einops
transformers
encodec
unidecode
num2words
spacy[ja]

